<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Única</title>
    <style>
        p{ text-align: justify; }
    </style>
</head>
<body>
    <h1>COVID-19 (Corona Vírus)</h1>
    <h2>Como se previnir</h2>
    <p>Neste momento de pandemia do novo coronavírus, é muito importante que você siga as orientações do Ministério da Saúde e dos governos estaduais e municipais. Cada um de nós precisa fazer a sua parte.<br/>
    - Lavar as mãos frequentemente com água e sabão por pelo menos 20 segundos, incluindo o espaço entre os dedos, unhas e punhos;<br/>
    - Lavar as mãos principalmente antes de comer e após tossir ou espirrar<br/>
    - Se não tiver água e sabão, usar desinfetante para as mãos a base de álcool<br/>
    - Evitar tocar nos olhos, nariz e boca com as mãos não lavadas;<br/>
    - Usar lenço descartável para higiene nasal;<br/>
    - Cobrir nariz e boca ao espirrar ou tossir com um lenço de papel descartável ou com a parte interna do cotovelo (nunca as mãos);<br/>
    - Não compartilhar objetos de uso pessoal, como talheres, pratos, copos ou garrafas;<br/>
    - Manter os ambientes bem ventilados;<br/>
    - Limpar e desinfetar objetos e superfícies tocados com frequência, como celulares;<br/>
    - Evitar contato com pessoas que apresentem sinais da doença; <br/>
    - Evitar sair de casa; <br/>
    - Evitar locais de muita aglomeração; <br/>
    - Pessoas doentes devem permanecer em casa e, caso a doença se agrave, procurar a unidade básica de saúde;<br/>
    - Grupos vulneráveis , como idosos, crianças, gestantes, pessoas com doenças crônicas ou com imunodeficiência, devem ficar mais atentos às manifestações clínicas;<br/>
    - Profissionais de saúde devem utilizar medidas de precaução padrão, de contato e de gotículas (máscara cirúrgica, luvas, avental não estéril e óculos de proteção).<br/>
    </p>
</body>
</html>